/* Generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', sans-serif;
}

.d-flex{
    display: flex;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    align-items: center;
}

/* Header/Footer settings*/

header{
    position: fixed;
    top: 0;
    height: 125px;
    width: 100%;
    background-color: red;
    flex-direction: row-reverse;
}

footer{
    position: fixed;
    bottom: 0;
    height: 125px;
    width: 100%;
    background-color: red;
}

/* Main content */

.side-menu{
    background-color: royalblue;
    height: calc(100vh - 250px);
    width: 100vw;
}

.content{
    flex-grow: 1;
    background-color: seagreen;
    height: calc(100vh - 250px);
    width: 100vw;
}