/* Generics */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Monserrat', sans-serif;
    color: white;
}

.d-flex{
    display: flex;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    align-items: center;
}

main{
    width: 100%;
    height: calc(100vh - 250px);
}
/* Header/Footer settings*/

header{
    position: fixed;
    top: 0;
    height: 125px;
    width: 100vw;
    background-color: rgb(8,11,18);
    flex-direction: row-reverse;
    align-items: center;
    justify-items: flex-start;
}

.button{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(8,11,18);

}

header a{
    margin-right: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    height: 125px;
    width: 100vw;
    background-color: red;
}

/* Main content ( side-menu + content )*/

.margin-general{
    margin: 10px;
}

.side-menu{
    background-color: royalblue;
    width: 250px;

}

.side-menu figure{
    margin-bottom: 10px;
}

.side-menu i{
    margin-top: 5px;
    font-weight: 1.5em;
}

.menu-text{
    text-decoration: none;
    margin-left: 5px;
}

.content{
    background-color: seagreen;
    width: 100%;
}